body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ffd6e7,#ffeef5);
    font-family:Arial,sans-serif;
    overflow:hidden;
}

.container,.success{
    text-align:center;
}

.success{
    display:none;
}

img{
    width:220px;
}

h1{
    color:#ff4d88;
}

button{
    padding:12px 28px;
    font-size:18px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    margin:10px;
    transition:.3s;
}

#yesBtn{
    background:#4CAF50;
    color:white;
}

#noBtn{
    background:#ff4d4d;
    color:white;
    position:absolute;
}